<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>Fragment</title>
    <link href="../static/styles/main.css" rel="stylesheet"
          th:href="@{/styles/main.css}">
</head>
<body>
<header class="header" th:fragment="header">
    <a class="logo" href="/index.html">
        <img class="logo__img">
        <span class="logo__text" th:text="${blog_header}">David's Blog</span>
    </a>
    <a class="logout" href="/logout.html">
        <img class="logout__img" src="../static/images/user.svg" th:src="@{/images/user.svg}">
        <span class="logout__text">Logout</span>
    </a>
</header>
<main class="main main_v">
</main>
<footer class="footer" th:fragment="footer">
    <span class="footer__content" th:text="${blog_footer}">© 2021 David</span>
</footer>
</body>
</html>
