<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>Fragment</title>
    <link href="../../static/styles/main.css" rel="stylesheet"
          th:href="${basePath}+'styles/main.css'">
</head>
<body>
<header class="header" th:fragment="header">
    <a class="logo" href="index.html" th:href="${basePath} + 'index.html'">
        <img class="logo__img">
        <span class="logo__text" th:text="${blog_header}">David's Blog</span>
    </a>
    <a class="login" href="" th:href="${blog_domain}+'/dashboard.html'">
        <img class="login__img" src="../../static/images/user.svg" th:src="${basePath} + 'images/user.svg'">
        <span class="login__text">Login</span>
    </a>
</header>
<main class="main main_v">
</main>
<footer class="footer" th:fragment="footer">
    <span class="footer__content" th:text="${blog_footer}">© 2021 David</span>
</footer>
</body>
</html>
