.form{
	width:100%;
	max-width:100vh;
	margin: 0 1rem;
}

.form__input, .form__textarea{
	width:100%;
	margin: 0.7rem; 0;
}

.form__textarea{
	height:30rem;
}

.form__submit{
	margin:1rem 0;
	padding:0,5rem;
	cursor:pointer;
}
